body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
  color: #222;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.recipes-container {
  max-width: 1200px;
  width: 90%; 
  margin: 20px auto;
  padding: 0 20px 20px; /
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f39c12; 
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  height: 50px; 
  margin: 0 -20px 25px; 
  text-transform: uppercase;
  letter-spacing: 2px;
}

.loading, .error {
  text-align: center;
  font-size: 1.2em;
  margin-top: 20px;
  color: #666;
}

.error {
  color: #d9534f;
}


.recipe-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}


.recipe-card {
  width: 280px;
  flex-shrink: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  padding: 10px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.recipe-card:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


.recipe-card.expanded {
  width: 100%;
  flex-basis: 100%;
  height: auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15); 
}

.recipe-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 5px;
}

.recipe-card.expanded .recipe-image {
  display: none;
}

.recipe-content {
  padding-top: 10px;
}

.recipe-content h2 {
  margin: 0 0 5px 0;
  font-size: 1.1em;
  color: #007bff;
}

.recipe-content p {
  margin: 3px 0;
  color: #555;
  font-size: 0.9em;
}

.expanded-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.expanded-image {
  max-width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.expanded-details-text {
  padding-left: 20px;
}

.expanded-details-text h4 {
  margin-top: 20px;
  margin-bottom: 5px;
  color: #333;
}

.expanded-details-text ol {
  padding-left: 20px;
  text-align: left;
}
